<p>Check to see if a string has the same amount of 'x's and 'o's. The method must return a boolean and be case insensitive. The string can contain any char.</p>
<form>
  <input matInput (input)="str=$event.target.value" type="text" class="form-control">
  <button mat-stroked-button colors="warn" (click)="xoCheck()">Submit</button>

</form>
<br>
<p class="answer" *ngIf='isEqual'>Your string has the same amount of x's and o'x</p>
<p class="answer" *ngIf='isEqual === false'>Your string does not have the same amount of x's and o'x</p>

