<div style="text-align:center">
    <h1>Projects</h1>
    <mat-tab-group mat-stretch-tabs>

        <mat-tab label="Angular">
           <h2>Angular</h2>
            <mat-grid-list cols="3">

              <mat-grid-tile>
                  <mat-card class="example-card">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Telenotes CRM</mat-card-title>
                        <mat-card-subtitle>Enterprise Application</mat-card-subtitle>
                      </mat-card-header>
                      <img class="medium-image" mat-card-image src="/assets/TNLogo2.png" alt="Telenotes Application">
                      <mat-card-content>
                        <p>
                          An enterprise level production application built in Angular. A CRM solution that simplifies 
                          communication, makes up for lost time, and boosts business’ revenue. We do this by 
                          allowing your reps to talk, not type their data.
                        </p>
                      </mat-card-content>
                      <mat-card-actions>
                          <button mat-button>
                              <a href="https://telenotes.com/">WEBSITE</a>
                            </button>
                          <!-- <button mat-button>GITHUB</button> -->
                      </mat-card-actions>
                    </mat-card>
              </mat-grid-tile>

              <mat-grid-tile>
                  <mat-card class="example-card">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Personal Portfolio</mat-card-title>
                        <mat-card-subtitle>Personal Application</mat-card-subtitle>
                      </mat-card-header>
                      <img class="medium-image" mat-card-image src="/assets/codingComp.png" alt="Coding Computer">
                      <mat-card-content>
                        <p>
                          This is the site you are looking at right now. Go ahead and look around and see how everything
                          works. Built in Angular and using Angular Material for styling, this is a web application to showcase 
                          prior work history and coding capabilities.
                        </p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-button>WEBSITE</button>
                        <button mat-button>
                            <a href="https://github.com/mitchellglazier/ChallengesPractice">GITHUB</a>
                          </button>
                    </mat-card-actions>
                    </mat-card>
                  </mat-grid-tile>

                  <mat-grid-tile>
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Grudge Match</mat-card-title>
                          <mat-card-subtitle>Enterprise Application</mat-card-subtitle>
                        </mat-card-header>
                        <img class="medium-image" mat-card-image src="/assets/TNLogo2.png" alt="Telenotes Application">
                        <mat-card-content>
                          <p>
                            An enterprise level production application built in Angular. Pay to play online gaming
                            matches, a place for professional and novice gamers to make money doing what they love
                            to do.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>
                                <a href="grudgematch.gg">WEBSITE</a>
                              </button>
                            <!-- <button mat-button>GITHUB</button> -->
                        </mat-card-actions>
                      </mat-card>
                </mat-grid-tile>
  

                  <mat-grid-tile>
                      <mat-card class="example-card">
                          <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Online Store</mat-card-title>
                            <mat-card-subtitle>Personal Application</mat-card-subtitle>
                          </mat-card-header>
                          <img class="medium-image" mat-card-image src="/assets/ShoppingCart.png" alt="Telenotes Application">
                          <mat-card-content>
                            <p>
                              Online store with admin log in to add, edit and remove items from Website. Built in Angular
                              with a Firbase back end. Styling done with boostrap.
                            </p>
                          </mat-card-content>
                          <mat-card-actions>
                              <button mat-button>
                                  <a href="https://github.com/mitchellglazier/RDF">GITHUB</a>
                                </button>
                              <!-- <button mat-button>GITHUB</button> -->
                          </mat-card-actions>
                        </mat-card>
                  </mat-grid-tile>

            </mat-grid-list>
        </mat-tab>

        <mat-tab label="React">
           <h2>React</h2>
             <mat-grid-list cols="3">

              <mat-grid-tile>
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Personal Portfolio</mat-card-title>
                      <mat-card-subtitle>Personal Application</mat-card-subtitle>
                    </mat-card-header>
                    <img class="medium-image" mat-card-image src="/assets/codingComp.png" alt="Coding Computer">
                    <mat-card-content>
                      <p>
                        Small personal portfolio page using React. Styling done with React-MDL, Bootsrap, uiGradients,
                        and fontawesome.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <!-- <button mat-button>WEBSITE</button> -->
                      <button mat-button>
                          <a href="https://github.com/mitchellglazier/Portfolio">GITHUB</a>
                        </button>                    
                      </mat-card-actions>
                  </mat-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>New Golden Dragon</mat-card-title>
                          <mat-card-subtitle>Small Business Application</mat-card-subtitle>
                        </mat-card-header>
                        <img class="medium-image" mat-card-image src="/assets/dragon_icon.jpg" alt="Golden Dragon">
                        <mat-card-content>
                          <p>
                            Beta release of a React front end application with Ruby on Rails backend. Braintree API to accept payments.
                            Restaurant application to order online, with admin access to change menu items and receive
                            orders.
                          </p>
                        </mat-card-content>
                        <mat-card-actions>
                          <button mat-button>
                            <a href="https://new-winter-dragon.herokuapp.com/">WEBSITE</a>
                          </button>
                          <button mat-button>
                              <a href="https://github.com/mitchellglazier/">GITHUB</a>
                            </button>
                        </mat-card-actions>
                      </mat-card>
                    </mat-grid-tile>

                    <mat-grid-tile>
                      <mat-card class="example-card">
                          <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Gripe</mat-card-title>
                            <mat-card-subtitle>Personal Application</mat-card-subtitle>
                          </mat-card-header>
                          <img class="medium-image" mat-card-image src="/assets/GripeImage1.png" alt="Gripe">
                          <mat-card-content>
                            <p>
                              Social platform for comments and debate. Built in Angular and styled with CSS with no Angular styling libraries.
                            </p>
                          </mat-card-content>
                          <mat-card-actions>
                            <!-- <button mat-button>WEBSITE</button> -->
                            <button mat-button>
                                <a href="https://github.com/mitchellglazier/Gripe">GITHUB</a>
                              </button>                    
                            </mat-card-actions>
                        </mat-card>
                      </mat-grid-tile>

             </mat-grid-list>
           
        </mat-tab>
        <mat-tab label="Other">
           <h2>Other Languages/Frameworks</h2>
           <mat-grid-list cols="3">

              <mat-grid-tile>
                  <mat-card class="example-card">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>New Golden Dragon</mat-card-title>
                        <mat-card-subtitle>Small Business Application</mat-card-subtitle>
                      </mat-card-header>
                      <img class="medium-image" mat-card-image src="/assets/dragon_icon.jpg" alt="Coding Computer">
                      <mat-card-content>
                        <p>
                          Beta release of a React front end application with Ruby on Rails backend. Braintree API to accept payments.
                          Restaurant application to order online, with admin access to change menu items and receive
                          orders.
                        </p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-button>
                          <a href="https://new-winter-dragon.herokuapp.com/">WEBSITE</a>
                        </button>
                        <button mat-button>
                            <a href="https://github.com/mitchellglazier/">GITHUB</a>
                          </button>
                      </mat-card-actions>
                    </mat-card>
                  </mat-grid-tile>
           </mat-grid-list>
        </mat-tab>
      </mat-tab-group>
</div>