<div style="text-align:center">
    <h1>Projects</h1>
    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Angular">
           <h2>Angular</h2>
            <mat-grid-list cols="3">

              <mat-grid-tile>
                  <mat-card class="example-card">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Telenotes CRM</mat-card-title>
                        <mat-card-subtitle>Enterprise Application</mat-card-subtitle>
                      </mat-card-header>
                      <img class="medium-image" mat-card-image src="/assets/TNLogo2.png" alt="Telenotes Application">
                      <mat-card-content>
                        <p>
                          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                          bred for hunting.
                        </p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-button>WEBSITE</button>
                        <button mat-button>GITHUB</button>
                      </mat-card-actions>
                    </mat-card>
              </mat-grid-tile>

              <mat-grid-tile>
                  <mat-card class="example-card">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Personal Portfolio</mat-card-title>
                        <mat-card-subtitle>Personal Application</mat-card-subtitle>
                      </mat-card-header>
                      <img class="medium-image" mat-card-image src="/assets/codingComp.png" alt="Coding Computer">
                      <mat-card-content>
                        <p>
                          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                          bred for hunting.
                        </p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-button>WEBSITE</button>
                        <button mat-button>GITHUB</button>
                      </mat-card-actions>
                    </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>

        <mat-tab label="React">
           <h2>React</h2>
           
        </mat-tab>
        <mat-tab label="Ruby">
           <h2>Ruby</h2>
        </mat-tab>
      </mat-tab-group>
</div>