<mat-card>
        <p>
                Write a method sum that takes an array of numbers (0-9) and returns
                 the sum of the numbers.
              </p>
              <form>
                    <mat-form-field class="input-space">
                        <input matInput id="number1" (input)="number1=$event.target.value" type="number" class="form-control">
                     </mat-form-field>   
                </form>
                      
                  <button mat-raised-button color="accent" class="btn btn-success" (click)="sum()">Submit</button>
              <p class="answer" *ngIf='total'>Total: {{total}}</p>
</mat-card>

