<div style="text-align:center">
    <div>
        <h1>
            Coding Challenges practice!
        </h1>
    </div>
  
    <mat-grid-list cols="4">
      <mat-list>
      <mat-grid-tile>
          
                <app-exesandooos></app-exesandooos>
          
      </mat-grid-tile>
      <mat-divider></mat-divider>
      <mat-grid-tile>
          
                <app-unique-in-order></app-unique-in-order>
          
      </mat-grid-tile>
      <mat-grid-tile>
          
                <app-create-phone-number></app-create-phone-number>
          
      </mat-grid-tile>
      <mat-grid-tile>
          
                <app-sum-arrays></app-sum-arrays>
          
      </mat-grid-tile>
      <mat-grid-tile>
          
                <app-reverse-anumber></app-reverse-anumber>
          
      </mat-grid-tile>
      <mat-grid-tile>
          
                <app-multiply></app-multiply>
          
      </mat-grid-tile>
      <mat-grid-tile>
          
                <app-functional-addition></app-functional-addition>
          
      </mat-grid-tile>
      <mat-grid-tile>
          
                <app-anagram></app-anagram>
          
    </mat-grid-tile>
    <mat-grid-tile>
          
            <app-iq-test></app-iq-test>
      
</mat-grid-tile>
    </mat-list>
    </mat-grid-list>
  </div>
  
