<mat-card>
        <p>
                Write a function that accepts an array of 10 integers (between 0 and 9),
                that returns a string of those numbers in the form of a phone number.
        </p>
        <form>
         <mat-form-field>
             <input matInput id="phonenumber" (input)="number1=$event.target.value" type="number" class="form-control">
           </mat-form-field>
      </form>
        <button mat-raised-button color="accent" class="btn btn-success" (click)="createPhoneNumber()">Submit</button>
        <button mat-raised-button (click)="openDialog()">See Code</button>

        <p class="answer" *ngIf='phoneNumber'>Phone Number: {{phoneNumber}}</p>

</mat-card>
