<div style="text-align:center">
    <div id='verticle'>
        <h1>
            Mitchell Guinn Glazier
          </h1>
          <img src="/assets/coder.png" alt="Web Dev">
          <h2>Front End Web Developer</h2>
          <img class="small-image" src="assets/Angular_full_color_logo.svg.png" alt="Angular">
          <img class="small-image" src="assets/img_240081.png" alt="TypeScript">
          <img class="small-image" src="/assets/react_1353128.png" alt="React">
          <img class="small-image" src="/assets/js-512.png" alt="JavaScript">
          <img class="small-image" src="/assets/reduxLogo.png" alt="Redux">
          <img class="small-image" src="/assets/firebase.png" alt="FireBase">
          <img class="small-image" src="/assets/ruby.png" alt="Ruby">
          <img class="small-image" src="/assets/css-3-icon.png" alt="HTML">
          <img class="small-image" src="/assets/html-512.png" alt="CSS">
    </div>
</div>

<!-- <horizontal-timeline [timelineElements]="timeline" [showContent]="true"></horizontal-timeline> -->
